@font-face {
  font-family: Manrope;
  src: url("assets/fonts/Manrope.ttf");
}
@font-face {
  font-family: ManropeEB;
  src: url("assets/fonts/Manrope-ExtraBold.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Regular.ttf");
}

@keyframes hello-shape {
  0%,
  100% {
    border-radius: 29% 71% 78% 22% / 19% 46% 54% 81%;
  }
  20% {
    border-radius: 68% 32% 27% 73% / 22% 39% 61% 78%;
  }
  40% {
    border-radius: 35% 65% 86% 14% / 79% 56% 44% 21%;
  }
  60% {
    border-radius: 37% 63% 28% 72% / 76% 52% 48% 24%;
  }
  80% {
    border-radius: 41% 59% 38% 62% / 40% 72% 28% 60%;
  }
}

@keyframes shadow-shape {
  0%,
  100% {
    border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;
  }
  20% {
    border-radius: 17% 83% 73% 27% / 63% 69% 31% 37%;
  }
  40% {
    border-radius: 63% 37% 77% 23% / 81% 69% 31% 19%;
  }
  60% {
    border-radius: 65% 35% 41% 59% / 48% 75% 25% 52%;
  }
  80% {
    border-radius: 62% 38% 25% 75% / 59% 52% 48% 41%;
  }
}

:root {
  --main-back-color: #228be6;
  --main-back-color-darker: #228be66c;
  --main-color: #fff;
  --nav-inline-margins: 40px;
  --hover-color: #eeeeee;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;

  font-size: 4rem;
  font-family: Manrope;

  background-color: var(--main-back-color);
  color: var(--main-color);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-inline: var(--nav-spacing);
  padding-block: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Poppins;
  font-size: 1.2rem;
  background-color: var(--main-color);
}

nav a,
nav ul {
  color: var(--main-back-color-darker);
}

.we-here {
  color: var(--main-color);
  background-color: var(--main-back-color);
  position: relative;
  --border-sizes: 30px;
}
.we-here::before,
.we-here::after {
  content: "";
  position: absolute;
  top: 19px;
  background-color: var(--main-color);
  width: var(--border-sizes);
  height: var(--border-sizes);
  border-radius: 50%;
}
.we-here::before {
  left: calc(-1 * (var(--border-sizes)));
  box-shadow: calc(var(--border-sizes) / 2) calc(var(--border-sizes) / 2) 0
    var(--main-back-color);
}
.we-here::after {
  right: calc(-1 * var(--border-sizes));
  box-shadow: calc(-1 * var(--border-sizes) / 2) calc(var(--border-sizes) / 2) 0
    var(--main-back-color);
}

a {
  text-decoration: none;
}

.desktop-nav a,
.small-nav1 a,
.small-nav1 ul {
  cursor: pointer;
  position: relative;
  display: inline-block;

  padding: 10px var(--nav-inline-margins) 10px var(--nav-inline-margins);
}

nav a:hover,
.small-nav1 ul.years:hover {
  color: var(--main-back-color);
}

.desktop-nav ul.years {
  padding-inline-start: 0;
}

ul.years {
  margin: 0;
  list-style-type: none;
  display: flex;
}

.wrapper {
  height: 80vh;
  width: 50vw;

  padding: 0;
  margin: auto;
  margin-top: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hello {
  --my-size: 40vh;
  font-family: ManropeEB;
  font-size: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: var(--my-size);
  height: var(--my-size);

  color: var(--main-color);
  background-image: url(assets/imgs/io.jpg);
  background-size: cover;

  animation: hello-shape 10s infinite;
}
.hello-shadow {
  width: var(--my-size);
  height: var(--my-size);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--main-color);
  animation: shadow-shape 10s infinite reverse;
}
.hello-content {
  margin-top: 5vh;

  font-size: 2.8vh;
}
.citation {
  font-size: 2.2vh;

  width: 70vw;
}

/* RESPONSIVE small1*/
.small-nav1 nav {
  display: none;
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  .desktop-nav {
    display: none;
  }
  .small-nav1 nav {
    display: flex;
  }
  .we-here::before,
  .we-here::after {
    top: 25px;
  }
}

.small-nav1 .li-small1 {
  --dropdown-width: 30vw;
  display: none;
  flex-direction: column;
  border: 1px solid var(--main-back-color);

  position: absolute;
  width: var(--dropdown-width);
  left: calc(-1 * var(--dropdown-width) / 5);
  top: 100%;

  background-color: var(--main-color);
  color: var(--main-back-color);

  border-radius: 50px;

  overflow: hidden;
  z-index: 5;
}

.li-small1 li {
  font-size: 1.5rem;
  padding: 5px;
  border: 1px solid transparent;
}

.li-small1 li:nth-child(1):hover {
  border-width: 1px 0;
  border-style: solid;
  border-color: transparent transparent var(--main-back-color) transparent;
}
.li-small1 li:nth-child(2):hover {
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--main-back-color) transparent var(--main-back-color)
    transparent;
}
.li-small1 li:nth-child(3):hover {
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--main-back-color) transparent transparent transparent;
}

/* RESPONSIVE small2*/
.small-nav2 nav {
  --font-small2: 1rem;
  display: none;
  padding: 30px;
  font-size: var(--font-small2);
  display: none;
  grid-template-columns: 1fr 1fr;
  background-color: var(--main-back-color);
}

@media (max-width: 606px) {
  .desktop-nav {
    display: none;
  }
  .small-nav1 nav {
    display: none;
  }
  .small-nav2 nav {
    display: grid;
    --button-inline-padding: 10px;
  }
  .we-here::before,
  .we-here::after {
    display: none;
  }

  .wrapper {
    height: 80vh;
  }
  .hello-content {
    font-size: 2vh;
  }
  .citation {
    margin-top: 5vh;
    font-size: 1.5vh;
  }
}

.small-nav2 .home {
  display: flex;
  justify-content: left;
  align-items: center;
}
.small-nav2 .home a {
  color: var(--main-color);
  background-color: var(--main-back-color);
  border: 1px solid var(--main-color);
  padding-inline: var(--button-inline-padding);
}

.menu-wrapper {
  position: relative;
}
.menu {
  height: 100%;

  display: flex;
  justify-content: right;
  align-items: center;
}
.menu img {
  cursor: pointer;
  height: calc(var(--font-small2) + 8px);
}

.menu-container {
  right: 0;
  position: absolute;

  width: 10rem;
  height: 0px;
  overflow: hidden;

  margin-top: 20px;
  transition: all 100ms linear;
}
.open {
  height: 257px;
}

.years-menu.open {
  height: 130px;
}

.option {
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;

  padding: var(--button-inline-padding);
  margin-bottom: -1px;

  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--main-color);
}

.option .about,
.option .years {
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: transparent var(--main-color) var(--main-color) transparent;

  padding: 5px;
  border-radius: 100vw;
}
.option img {
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: var(--main-color) transparent transparent var(--main-color);

  padding: 5px;
  border-radius: 100vw;

  transition: all 100ms;
}

.menu-container img {
  height: calc(var(--font-small2) - 2pt);
  margin-right: auto;
}

.small-nav2 .years {
  position: relative;
}

.years-menu {
  position: absolute;
  right: -11px;

  height: 0;
  width: 10rem;

  margin-top: 20px;
  transition: all 100ms linear;

  overflow: hidden;
}
.years-menu .option {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: transparent transparent transparent var(--main-color);

  display: flex;
  justify-content: left;
  align-items: center;
}

.option a {
  color: var(--main-color);
}
.option a:hover {
  color: var(--main-color);
}
